
@font-face {
    font-family: "Hack";
    src: url('../css/font/hack/ttf/Hack-Regular.ttf') format("truetype");
}

* {
    font-size: 100%;
    font-family: 'Hack';
    color: lime;
    background-color: black;
}

h1 {
    font-size: 2em;
}

ul,li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.button {
    height: 30px;
    border: 2px solid;
    border-color: lime;
    padding: 0 1rem;
    border-radius: 2rem;
    margin: 0;
    margin-left: 0.75rem;
    outline: none;
    
}

.button:hover {
    box-shadow: 0px 0px 20px lime;
}

/* HEADER  */

.header {
    display:flex;
    height: 10vh;
    padding: 0 1rem;
    align-items: center;
    justify-content: space-between;
    border: 2px solid;
    border-bottom: 0;
}

/* CHAT */

.chat {
    height: calc(100vh - 10vh - 2rem); /* 100px del header */
    display:flex;
}

.chat__rooms {
    border: 2px solid;
    width: 20%;
}

.chat__roomForm {
    display: flex;
    padding: 1.25rem 0.5rem;
}

.chat__roomInput {
    width: 100%;
    border-radius: 2rem;
    border:  2px solid;
    padding: 0rem 0.75rem;
}

.chat__roomInput:focus {
    box-shadow: 0px 0px 20px lime;
    outline: none;
}

.chat__roomName {
    padding: 0.25rem 1rem;

}

.chat__roomName button {
    width: 100%;
    text-align: left;
}

.chat__roomName button:hover {
    box-shadow: 0px 0px 20px lime;
}


.chat__roomName--active {
    background-color: lime;
    color: black;
}

.chat__headers {
    border-bottom: 2px solid;
    text-align: center;
    margin: auto;
    padding: 0.75rem;
    font-size: 24px;
}

.chat__users {
    border: 2px solid;
    width: 20%;
}

.chat__users ul {
    padding: 1rem
}

.chat__userName {
    padding: 0.25rem 1rem;
}

.chat__messages {
    width: 60%;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    padding: 1rem;
    border-top: 2px solid;
    border-bottom: 2px solid;

}

.chat__messages li {
    word-break: break-all;
}


.chat__messages > ul {
    overflow: hidden;
    overflow-y: auto;
    position:absolute;
    top: 2px;
    bottom: 46px;
    left: 0;
    right: 2px;
    padding: 2rem;
}

.chat__messages > ul::-webkit-scrollbar {
    width: 5px;
  }
   
.chat__messages > ul::-webkit-scrollbar-track {
}

.chat__messages > ul::-webkit-scrollbar-thumb {
    background-color: lime;
    border-radius: 15px;
  }

.chat__keyboard {
    display: flex;
    position: absolute;
    bottom: 2px;
    left: 0;
    right: 0;
    padding: 0.50rem 1rem;
}

.chat__message {
    width: 100%;
    height: auto;
    border-radius: 2rem;
    border: 2px solid;
    padding: 0 1rem;
}

.chat__message:focus {
    box-shadow: 0px 0px 20px lime;
    outline: none;
}

/* LOGIN && REGISTER */
.card {
    border: solid;
    width: 25%;
    padding: 1.5rem;
    margin: auto;
    margin-top: 25vh;
    border-radius: 1rem;
}

.card__input {
    width: auto;
    height: auto;
    border-radius: 2rem;
    border: solid;
    padding: 0 1rem;
}

.card__button {
    height: 30px;
    border: solid;
    border-color: lime;
    padding: 0 1rem;
    border-radius: 2rem;
}

.card__button:hover {
    box-shadow: 0px 0px 20px lime;
}

.notMyMessage, .myMessage {
    width: max-content;
    max-width: 50%;
    margin: .25rem auto;
    padding: .25rem 1rem;
    border: 1px solid;
    border-radius: .5rem;
}

.notMyMessage {
    margin-left: 0;
    text-align: left;
}

.myMessage {
    background-color: lime;
    margin-right: 0;
    text-align: right;
    margin-top: 1rem;
  }

.myMessage li {
    background-color: lime;
    color: black;
  }

