<!DOCTYPE html>
<html lang="en">
    <head>
        <title>4CHAT</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, Node">
        <meta name="description" content="This is my first 4chat">
        <link rel="icon" href="../img/icon.png" type="image/png" sizes="16x16">
        <link rel="stylesheet" href="../css/stylesheet.css">
    </head>
    <body>
        <header class="header">
                <h1 id="userName"></h1>
                <h1 id="roomName"></h1>
          <button class="button" type="button" onclick="logout()">Logout</button>
        </header>
    
        <div class="chat">
            <aside class="chat__rooms">
                <h1 class="chat__headers">ROOMS</h1>
                <form class="chat__roomForm" id="roomForm" onsubmit="return createRoom(this)">
                    <input class="chat__roomInput" type="text" id="newRoom" name="newRoom" placeholder="New room... " required>
                    <input class="button" type="submit" value="Create">
                </form>
                <ul id="roomList">
                </ul>
            </aside>
          
            <main class="chat__messages">
                <ul id="messages">
                </ul>
                <form class="chat__keyboard" id="messageForm" onsubmit="return sendMessage(this)">
                    <input class="chat__message" type="text" id="newMessage" name="newMessage">
                    <input class="button" type="submit" value="Send">
                </form>
            </main>

            <aside class="chat__users">
                <h1 class="chat__headers">USERS</h1>
                <ul id="userList">
                    <li>User1</li>
                    <li>User2</li>
                </ul>
            </aside>

        </div>
    
      </body>
</html>

<script src="../scripts/initChat.js"></script>
<script src="../scripts/createRoom.js"></script>
<script src="../scripts/logout.js"></script>
<script src="../scripts/sendMessage.js"></script>

<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="../scripts/sockets.js"></script>