<!DOCTYPE html>
<html lang="en">
    <head>
        <title>4CHAT</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, Node">
        <meta name="description" content="This is my first 4chat">
        <link rel="icon" href="../img/icon.png" type="image/png" sizes="16x16">
        <link rel="stylesheet" href="../css/stylesheet.css">
    </head>
    <body>
        <header class="header">
            <div class="header__h1">
                <h2 id="userName"></h2>
                <h2 id="roomName"></h2>
            </div>
            <div>
                <button class="button" id="matrix" type="button" onclick="matrix()">light</button>
                <button class="button" type="button" onclick="logout()">Logout</button>
            </div>
        </header>
        
        <div class="layout">
            <aside class="aside">
                <div class="room">
                    <h1 class="aside__header">ROOMS</h1>
                    <form id="roomForm" class="form" onsubmit="return createRoom(this)">
                        <input class="input" type="text" id="newRoom" name="newRoom" placeholder="New room... " maxlength="16" spellcheck="false" autocomplete="off" required>
                        <input class="button" type="submit" value="Create">
                    </form>
                    <ul id="roomList" class="room__ul"></ul>
                </div>

                <div class="user user__left">
                    <h1 class="aside__header">USERS</h1>
                    <ul id="userListLeft" class="user__ul"></ul>
                </div>
            </aside>
            

            <main class="chat">
                <ul id="messageList" class="chat__ul"></ul>
                <form id="messageForm" class="form chat__form" onsubmit="return sendMessage(this)">
                    <input class="input" type="text" id="newMessage" name="newMessage" autocomplete="off" autofocus>
                    <input class="button" type="submit" value="Send">
                </form>
            </main>

            <aside class="aside aside_right">
                <div class="user user__right">
                    <h1 class="aside__header">USERS</h1>
                    <ul id="userListRight" class="user__ul"></ul>
                </div>
            </aside>
        </div>
    </body>
</html>

<script src="../scripts/initDefaults.js"></script>

<script src="../scripts/utils.js"></script>
<script src="../scripts/rooms.js"></script>
<script src="../scripts/users.js"></script>
<script src="../scripts/logout.js"></script>
<script src="../scripts/matrix.js"></script>
<script src="../scripts/messages.js"></script>
    
<script src="https://cdn.socket.io/4.5.0/socket.io.min.js" integrity="sha384-7EyYLQZgWBi67fBtVxw60/OWl1kjsfrPFcaU0pp0nAh+i8FD068QogUvg85Ewy1k" crossorigin="anonymous"></script>
<script src="../scripts/sockets.js"></script>
