<!DOCTYPE html>
<html lang="en">
    <head>
        <title>4CHAT</title>
        <meta charset="UTF-8">
        <meta name="keywords" content="HTML, CSS, JavaScript, Node">
        <meta name="description" content="This is my first 4chat">
        <link rel="icon" href="../img/icon.png" type="image/png" sizes="16x16">
        <link rel="stylesheet" href="../css/stylesheet.css">
    </head>
    <body>
        <h1>REGISTER</h1>
        <form id="registerForm">
            <p><input type="text" name="userName" placeholder="Username... " spellcheck="false" required autofocus></p>
            <p><input type="password" name="password" placeholder="Password... " spellcheck="false" required></p>
            <input type="submit" value="Register">
        </form>
        <p>Have an account? <a href="./login.html">Login</a></p>
    </body>
</html>

<script src="../scripts/register.js"></script>